.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
data/raw/
data/reports/
iterative/
# Grafana data (persistent volumes)
monitoring/grafana-data/
# Prometheus data (persistent volumes)
monitoring/prometheus-data/